body {
    font-family: "Times New Roman", 'Courier New', Courier, monospace;
    background-color: #ffc497;
    font-size: 1.5em;
}

li {
    margin: 10px;
}

h1 {
    font-family: monospace;
    font-size: 48px;
    font-weight: 800;
  }

.name1 {
    margin-left: 250px;
}

.name2 {
    margin-left: 350px;
}

.name3 {
    margin-left: 300px;
}
